.section2 {
  background-color: #ff4141;
  height: 700px;
  border-bottom: 10px solid #000;
}

.section2 h2 {
  color: white;
  display: inline-block;
  position: relative;
  top: 10%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}